.navbar-inverse {
    background-color: rgba(2,2,2,0.5);
    border-color: transparent;
  }

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    min-height: 96px;
  }

.navbar-brand {
    float: left;
    height: 100px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 96px;
  }

  .navbar-nav > li > a {
    padding-top: 60px;
    padding-bottom: 20px;
    line-height: 18px;
    font-family: Oswald;
  }

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    min-height: 96px;
  }

  .navbar-brand-footer {
    float: left;
    height: 50px;
    padding-top: 17px;
    padding-bottom: 20px;
    font-size: 10px;
    line-height: 0px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(2,2,2,0.5);
    font-size: 20px;
    font-family: "Oswald";
    vertical-align: center;
    line-height: 50px;
    padding: 0 10px 0 10px;
  }
}
  
.contatoCDK {
  float: left;
}

.social {
  float: right;
}
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .footer-block { margin: 20px 0; }
  
  .footer > .container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .zoom {
    padding: 0px;
    background-image: "./src/monte4.png";
    transition: transform .2s; /* Animation */
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}