html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    background: url('../src/Teste4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  imp1 {
    font-family: 'Caudex';
    font-size: 300%;
    color: #fff;
    text-shadow: 4px 4px 4px #000;
  }

  imp2 {
    font-family: 'Caudex';
    font-size: 140%;
    color: #fff;
  }
